public/views/login/login.html
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Sign In</h1></div>
                <div class="panel-body">
                    <form>
                        <div class="form-group"><label for="username">Username</label><input type="text"
                                                                                             placeholder="username"
                                                                                             name="username"
                                                                                             id="username"
                                                                                             class="form-control"></div>
                        <div class="form-group"><label for="password">Password</label><input type="password"
                                                                                             placeholder="password"
                                                                                             name="password"
                                                                                             id="password"
                                                                                             class="form-control"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <hr>
                        <div class="form-group"><a href="/auth/google" style="width:100%;" class="btn btn-google"><i
                                class="fa fa-google-plus-square"></i> Sign in with Google</a></div>
                        <div class="form-group"><a href="/auth/facebook" style="width:100%" class="btn btn-facebook"><i
                                class="fa fa-facebook-square"></i> Sign in with facebook</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

views/login.jade
extends layout/layout

block content
  .container-fluid
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        .panel.panel-primary
          .panel-heading
            h1.panel-title Sign In
          .panel-body
            form
              .form-group
                label(for='username') Username
                input.form-control(type='text', placeholder='username', name='username' id='username')
              .form-group
                label(for='password') Password
                input.form-control(type='password', placeholder='password', name='password' id='password')
              .form-group
                button.btn.btn-primary(type='submit') Login
              hr
              .form-group
                a.btn.btn-google(href='/auth/google', style='width:100%;') <i class="fa fa-google-plus-square"></i> Sign in with Google
              .form-group
                a.btn.btn-facebook(href='/auth/facebook', style='width:100%') <i class="fa fa-facebook-square"></i> Sign in with facebook
